*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 10;
    background-color: #EDEDED;
    position: sticky;
    top: 0;
}

nav ul li{
    list-style: none;
    margin: 10px 23px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
    height: 50px;
    padding: 0 30px;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: inline-flex
}

nav ul li:hover{
    background-color: #D1CECE;
}

nav a{
    text-decoration: none;
    color: #2A363B;
}

.logo{
    width: 70px;
}

.nav-btn{
    background-color: #760504;
    color: #FBDC6A;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.city-btn{
    margin-bottom: 0;
    text-align: center;
}

i.fa-solid{
    color: #760504;
    height: 0.2px;
    width: 0.2px;
}


.dropbtn{
    border: none;
}


.dropdown-content a{
    display: flex;
    color: #232931;
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    margin: 10px 0;
    padding: 5px 0;
}

.dropdown-content a:hover{
    background-color: #EDEDED;
}

nav ul{
    margin: 10px 23px;
}

.dropdown-content {
    padding: 10px 23px;
    position: absolute;
    min-width: 100px;
    background-color: #EDEDED;
    display: none;
}

.dropdown:hover .dropdown-content{
    position: absolute;
    background-color:#D1CECE;
    display: block;
}

.city-btn{
    margin: 0;
    align-items: center;
    background-color: #EDEDED;
    margin-top: 10px;
}

.dropbtn{
    background-color: #EDEDED;
}

.header, .h-header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#232931 0%, #760504 25%, #F1D18A 70%, #EDEDED 100%);
    padding: 0 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

.header h1, .h-heading, .c-header, .a-header{
    color: #EDEDED;
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
    font-size: 75px;
    width: 100%;
    display: inline-block;
}



.header h2, .h-sub, .c-sub{
    color: #EDEDED;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.btn-container{
    margin: 20px 0;
}

.header button, .content button, .h-header button, .a-header button, .v-header button, .btn-container button, .faq-header button, ul.form-content button{
    background-color: #760504;
    color: #FBDC6A;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    margin: 20px 0;
}


/*Animation*/
.welcome, .h-heading, .h-sub, .c-header h1, .c-sub{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing{
    from {width:0}
    to {width: 100%;}
}

.motto{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0% { opacity: 0;}
    100% { opacity: 100%;}
}

.plan-visit{
    animation: button 5s;
}

@keyframes button{
    0% { opacity: 0;}
    100% { opacity: 100%;}
}


.cities, .section2 h1, .timeline h1, .h-snapshot h1, .c-heading, .section-1 h1, .section-2 h1, .section-3 h1, .stats h1{
    padding: 50px;
    align-items: center;
    text-align: center;
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    font-size: 60px;
}

/*cards*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 180px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;

  }

  img {
    border-radius: 5px 5px 0 0;
  }

.section{
    background-color: #EDEDED;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
}

.card-container h4{
    text-align: center;
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
}

.card-container p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    font-size: 16px;
}

#annapolis{
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .stats{
    margin-bottom: 180px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .stats h1{
    padding-top: 0;
  }
  .stats p{
    text-align: center;
    color: #2A363B;
  }

  .census{
    color: #2A363B;
  }

/*section 2 */
.section2{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#EDEDED 0%, #F1D18A 25%, #F1D18A 70%, #EDEDED 100%);
    padding: 0 10%;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
}

.history, .colonial-era, .revolutionary, .antebellum, .industrial, .ww-era, .modern-md{
    display: flex;
}

.history img{
    height: 600px;
    float: left;
    
}

.content, .h-content, .a-content{
    margin-top: 115px;
    margin-left: 50px;
    text-align: start;
    align-items: center;
    padding-left: 90px;
}

.content h1, .h-snapshot h2{
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    padding: 50px 0;
    text-align: start;
}

.content p, .h-snapshot p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    font-size: 20px;
}

.content button{
    margin-top: 80px;
}

/*Footer*/

.footer{
    background: linear-gradient(#EDEDED 0%,#F1D18A 25%, #760504 80%, #2A363B 100%);
    width: 100%;
    min-width: 25vh;
    text-align: center;
    top: 0;
    left: 0;
    align-items: baseline;
    justify-content: space-between;
    padding: 100px 15%;
    z-index: 10;
    top: 0;
    display: inline-flex;
    border-top: 1px solid #000;
}

.footer h3.footer-heading{
    font-size: 20px;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;   
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
}



.col-1 a{
    display: block;
    text-decoration: none;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 15px;
    margin: 5px;
    text-align: left;
}

.col-2, input, button.submit{
    display: block;
    text-decoration: none;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    margin-top: 10px;
}

#footer-email{
    margin-top: 5px;
}

.col-3, p, a.visitor-center{
    display: block;
    text-decoration: none;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
    font-size: 15px;
    margin: 5px;
}


.col-2 button.submit{
    background-color: #760504;
    color: #FBDC6A;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    padding: 5px 15px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    align-items: center;
}


.col-3 h4{
    text-decoration: underline;
    margin-bottom: 5px;
}

.col-3 p, .phone{
    font-size: 14px;
}

.social-icons{
    margin-top: 10px;
}

a.icons:link{
    color: #EDEDED;
    text-decoration: none;
}

a.icons:visited{
    color: #EDEDED;
    text-decoration: none;
}


.social-icons a.icons{
    color: #EDEDED;
    cursor: pointer;
    margin: 2px;
    text-decoration: none;
}

/*History Page*/
.h-header{
    background-image: url(./images/flag-graphic-copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    background-color: #232931;
    color: #EDEDED;
    align-items: center;
}

.h-header h1, .c-header h1{
    margin-top: 0;
    padding: 0;
}


.h-header h2, .c-header h2{
    color: #2A363B;
}

.h-header button, .c-header button{
    margin-top: 0;
}

.timeline{
    background-color: #EDEDED;
}

/*History Blurb*/

.h-snapshot h1, .timeline h1{
    font-size: 45px;
}

.h-snapshot{
    margin-bottom: 25px;
}

h2.h-sub{
    color: #000;
}



.colonial-era, .revolutionary, .antebellum, .industrial, .ww-era, .modern-md{
    margin-left: 20px;
    text-align: start;
    align-items: center;
    padding-left: 40px;

}

.h-content{
    padding-left: 10px;
    margin-top: 0;
    margin-left: 0px;
}

.colonial-era img{
    width: 700px;
}

.colonial-era h2{
    padding-top: 0;
}

.revolutionary img{
    width: 500px;
}

.revolutionary .h-content{
    margin-left: 0;
    padding-left: 0;
}

.revolutionary h2{
    padding-top: 0;
    margin-top: 25px;
}

.h-snapshot h2{
    padding-bottom: 15px;
}

.modern-md img{
    width: 720px;
}

/*Cities Page*/

.c-header{
    background-image: url(./images/md-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    color: #2A363B;
    align-items: center;
    font-size: 50px;
    margin-top: 0;
}

.c-header h1 {
    text-align: center;
    align-items: center;
    
}

/*Annapolis, Baltimore, & Frederick*/

.section-1, .section-2, .section-3{
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: #EDEDED;
    display: flex;
}

.annapolis, .baltimore, .frederick{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.annapolis img, .baltimore img, .frederick img{
    width: 700px;
}

.annapolis .content, .baltimore .content, .frederick .content{
    margin: 0;
    padding-right: 90px;
}

.annapolis h1, .baltimore h1, .frederick h1{
    padding-bottom: 25px;
}

.annapolis button, .baltimore button, .frederick button{
    margin-top: 25px;
}

.annapolis p, .baltimore p, .frederick p{
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    color: #2A363B;
}

.section-2{
    background-color: #F1D18A;
}


/*Annapolis Page*/

.a-header{
    background-image: url(./images/annapolis3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-top: 0;
    color: #FBDC6A;
    text-align: center;
}

.a-header .welcome{
    color: #f9cd2f;
    /*color: #FBDC6A;*/
}

.a-header span{
    font-family: "Dancing Script", cursive;
    color: #EDEDED;
}


#restaurants, #shopping, #drinks{
    margin-bottom: 10px;
}

/*Baltimore Page*/

.b-header{
    background-image: url(./images/baltimore3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-top: 0;
    color: #FBDC6A;
    text-align: center;
}

.b-header .welcome{
    color: #f9cd2f;
    /*color: #FBDC6A;*/
}

.b-header span{
    font-family: "Dancing Script", cursive;
    color: #EDEDED;
}


#restaurants, #shopping, #drinks{
    margin-bottom: 10px;
}

/*Frederick Page*/

.c-header, .v-header, .faq-header{
    background-image: url(./images/frederick3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-top: 0;
    color: #FBDC6A;
    text-align: center;
}

.c-header .welcome{
    color: #f9cd2f;
    /*color: #FBDC6A;*/
}

.c-header span{
    font-family: "Dancing Script", cursive;
    color: #EDEDED;
}


#restaurants, #shopping, #drinks{
    margin-bottom: 10px;
}

/*Plan your visit pag*/
.v-header{
    background-image: url(./images/visit.png);
    color: #EDEDED;
}

.visit-city-button{
    display: flex;
    justify-content: space-evenly;
}

.btn-container button{
    margin-left: 16px;
    margin-bottom: 0;
}

#airports, #nearby{
    margin-bottom: 10px;
}

/*FAQ*/
.faq-header{
    background-image: url(./images/bay-bridge.png);
    color: #EDEDED;
    text-align: left;
    align-items: start;
    padding-left: 50px;
}

.faq{
    background-color: #EDEDED;

}
.faq ol li{
    list-style-position: inside;
    padding: 100px;
    font-family:  "Didact Gothic", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    /*background-color: #EDEDED;*/
    border: #000;
    border-style: none;
}

li.odd{
    border-bottom: none;
    background-color: #EDEDED;
}

li.even{
    background-color: #D1CECE;
}

ol.faq h5, p{
    margin-left: 18px;
}
ol.faq a{
    color: #000;
}

/*Sign Up Form*/

form h1{
    text-align: center;
    color: #232931;
    font-family: "Cardo", serif;    
    font-weight: 400;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

form{
    background-color: #FBDC6A;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

ul.form-content{
    width: auto;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form li{
    list-style: none;
    width: 100px;
}

li.form-content, {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

form input{
    border-radius: 4px;
    border: none;
    padding: 5px;
}

input#text-box{
    width: 400px;
    height: 100px;
}

#email, #confirm-email{
    width: 400px;
}

.name-flex-container{
    display: inline-flex;
}

li#name.form-content{
    margin-right: 60px;
}

#agree{
    padding: 0;
    display: inline;
}

input #agree{
    padding: 0;
    width: 0;
}
